html{
  background-color: #212124;
}

.grid-container {
  display: grid;
  color: white;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(110px, auto);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
}

.grid-item{
  border: 3px solid rgba(255, 255, 255, 0.548);
  /* text-align: center; */
}
.grid-item-1 {
  align-self: start;
  justify-self: center;
}

.grid-item-4{
  justify-self: end;
  align-self: center;
}